

/* Group container */
.group-container {
margin-bottom: 10px;
padding: 10px;
border-radius: 5px;
}

/* Group header with the collapsible arrow */
.group-header {
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
}


.arrow {
font-size: 20px;
margin-right: 10px;
transition: transform 0.3s ease;
}


/* Devices list */
.devices-list {
margin-left: 20px;
padding-top: 10px;
}

/* Individual device block */
.device {
margin-bottom: 10px;
padding: 5px;
border-radius: 3px;
display: flex;
justify-content: space-between;
}

/* Text inputs for editing device info */
.device input {
width: 150px;
margin: 5px;
padding: 5px;
font-size: 14px;
}

.device button {
margin-left: 10px;
}

/* Add Group Button */
button {
border: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
}
